<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.1.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">
	 
	<!-- 本配置文件是参照下面的博客实践文档配置的
	refer:http://www.360doc.com/content/14/0920/12/9437165_410900873.shtml
	 -->
	
	<!-- jdbc.properties 文件路径 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="classpath:/config/jdbc.properties" />
	</bean>
	
	
	<!-- 数据源的配置 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${dirver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${user}" />
		<property name="password" value="${password}" />
		<!-- data source configuration -->
		<property name="initialSize" value="60" /><!-- 初始化连接数量 initial connections -->
		<property name="maxActive" value="100" /><!-- 最大连接数 max connections -->
		<property name="maxIdle" value="50" /><!--最大空闲连接数 max idle connections -->
		<property name="minIdle" value="10" /><!--最小空闲连接数  min idle connections -->
		
		<!-- 处理mysql 8小时自动断开连接的问题:http://agapple.iteye.com/blog/791943-->
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="validationQuery" value="select 1" />
		<property name="timeBetweenEvictionRunsMillis" value="20000" />
		<property name="numTestsPerEvictionRun" value="15" />
	</bean>

	
	
	<!-- 事务控制 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<tx:advice id="userTxAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception"/>
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<!-- 把事务控制在service层  -->
		<aop:pointcut expression="execution(* com.siyou.bojun.service.*.*(..))" id="pc"/>
		<aop:advisor advice-ref="userTxAdvice" pointcut-ref="pc"/>
	</aop:config>
	
	
	
	<!-- mybaits sqlSessionFactory 配置
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:/com/siyou/bojun/config/SqlMapConfig" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	 -->
	
	<!-- 所有springIOC需要注入的bean的配置
	<import resource="BusinessBeans.xml" />
	 -->
	 
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" p:dataSource-ref="dataSource" /> 
	
	
	<context:component-scan base-package="com.siyou.bojun.DAO" />
	
	
	
</beans>