/**@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Alegreya+Sans:400,300,500');*/

.unslider {
    overflow: auto;
    margin: 0;
    padding: 0
}

.unslider-wrap {
    position: relative
}

.unslider-wrap.unslider-carousel li {
    float: left
}

.unslider-vertical>ul {
    height: 100%
}

.unslider-vertical li {
    float: none;
    width: 100%
}

.unslider-fade {
    position: relative
}

.unslider-fade .unslider-wrap li {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 8
}

.unslider-fade .unslider-wrap li.unslider-active {
    z-index: 10
}

.unslider li,
.unslider ol,
.unslider ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none
}

.unslider-arrow {
    position: absolute;
    left: 20px;
    z-index: 2;
    cursor: pointer
}

.unslider-arrow.next {
    left: auto;
    right: 20px
}


/***************************************************/

.unslider-nav {
    position: absolute;
    top: 50px;
    left: 60px;
    right: 60px;
    z-index: 2;
}

.unslider-nav {
    right: auto;
    z-index: 3;
    margin-left: 40px;
}

.unslider-nav li {
    float: left;
}

.unslider .unslider-nav li {
    display: inline-block;
    float: left;
    margin: -2px 0 0 32px;
    padding: 2px 18px;
    border-radius: 30px;
    color: #fff;
    color: rgba(255, 255, 255, .7);
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    list-style: none;
    transition: color .2s, background .2s;
}

.unslider .unslider-nav li {
    font-size: 14px;
}

.unslider > .unslider-nav li:first-child {
    display: none;
}

.unslider-nav li:hover,
.unslider-nav li.unslider-active {
    color: #fff;
}

.unslider-nav li:hover {
    background: rgba(0, 0, 0, .05);
}

.unslider-nav li.unslider-active {
    background: rgba(0, 0, 0, .1);
}

#stu_sliders .fading-slider {
    height: 350px;
}

#stu_sliders .wrap {
    width: 640px;
}

#stu_sliders pre {
    color: rgba(255, 255, 255, .75);
    line-height: 24px;
}

#stu_sliders pre .hilite {
    display: block;
    white-space: pre-line;
    padding: 0 0 0 20px;
    font-weight: bold;
    line-height: 24px;
    color: #fff;
}

#stu_sliders .unslider {
    overflow: visible;
}

#stu_sliders .unslider-arrow {
    display: none;
    width: 32px;
    height: 32px;
    top: 50%;
    right: -50px;
    left: auto;
    margin-top: -16px;
    overflow: hidden;
    background: rgba(0, 0, 0, .2) no-repeat 50% 50%;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQCAQAAABuQZ3IAAAAi0lEQVR4AU3OISBEQQBAwS0AACS9NxqQgCZpkiYBVddFvWhAAUABAPQCAGC4g/0vTnrBqCfDIZl70J+kMUBPpEwT4FNXxBxz4F1HxHyr4EVTxBLb4EFNxEon4CJSlVNw9AcV9sC16h8osgke1P1ArgXwouVvdQq86ww/GQefusNf7kBviBlxpT8k+gL/Wox4r1d4MwAAAABJRU5ErkJggg==');
    background-size: 7px 11px;
    border-radius: 32px;
    text-indent: -999em;
    opacity: .6;
    transition: opacity .2s;
}

#stu_sliders .unslider-arrow:hover {
    opacity: 1;
}

.stu_slider {
    padding: 0px 0;
}

.stu_slider .prev {
    display: none;
    left: -50px;
    right: auto;
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

#stu_sliders .stu_slider > div {
    position: relative;
    padding: 1px;
    margin-bottom: 5px;
    height: 100%;
    color: #666;
    text-align: center;
    text-shadow: none;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
}

#stu_sliders .stu_slider.vertical-slider-wrapper > div {
    padding: 0;
}

#stu_sliders .stu_slider.vertical-slider-wrapper ul li {
    padding: 40px;
}

#stu_sliders .unslider-nav {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
    top: auto;
    margin: 0;
}

#stu_sliders .unslider-nav ol {
    list-style: none;
    text-align: center;
}

#stu_sliders .unslider-nav ol li {
    display: inline-block;
    float: none;
    width: 4px;
    height: 4px;
    margin: 0 4px;
    padding: 3px;
    background: transparent;
    border-radius: 5px;
    overflow: hidden;
    text-indent: -999em;
    border: 1px solid #60aeda;
    cursor: pointer;
    opacity: .4;
}

#stu_sliders .unslider-nav ol li.unslider-active {
    background: #fff;
    cursor: default;
    opacity: 1;
}